In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("blood_donor_dataset.csv")

In [12]:
df.shape

(10000, 12)

In [13]:
df.columns

Index(['donor_id', 'name', 'email', 'password', 'contact_number', 'city',
       'blood_group', 'availability', 'months_since_first_donation',
       'number_of_donation', 'pints_donated', 'created_at'],
      dtype='object')

In [14]:
df.describe

<bound method NDFrame.describe of         donor_id              name                          email    password  \
0     1b8b4c828a      Norma Fisher            ysullivan@yahoo.com  P5hX6Syg*A
1     a6a3f7fe55     Eugene Bowman       hramos@brown-sellers.com  b6Wq6Cqz@5
2     cee6478144  Sheri Bolton DDS          jasmine85@hotmail.com  $9RB51m#s7
3     5986bc55f9        Kelly Boyd  pattylawrence@riley-hayes.com  @5Tdg(4kCm
4     93246afe6c     Taylor Guzman       martinezjacob@wilson.com  x!)9Ag@J*7
...          ...               ...                            ...         ...
9995  700aeefbf1      Bradley Pham           jessica49@turner.com  ^@d9SMqSa1
9996  487b342992    Richard Harris              megan51@gmail.com  D1OAZg5i)g
9997  ddf4485d67        Autumn Kim       curtisdonald@wilson.info  3wU2fua(#7
9998  4256813ba5     Janice Murphy   jenningscristian@hotmail.com  &8zDeXl)b(
9999  5452d8afd3     Edward Graham               oyates@yahoo.com  ud(J5UjHh9

     contact_number       city blood_group availability  \
0     +61 461706749     Hobart          A+           No
1     +61 450709944     Darwin         AB-          Yes
2     +61 428756361  Melbourne         AB+          Yes
3     +61 454318320     Darwin          A-           No
4     +61 484158472     Darwin          O-           No
...             ...        ...         ...          ...
9995  +61 443906132     Hobart          A+          Yes
9996  +61 443105290     Hobart          O-           No
9997  +61 472390553     Hobart          B+           No
9998  +61 492945719      Perth         AB-          Yes
9999  +61 475905869   Canberra          O-           No

      months_since_first_donation  number_of_donation  pints_donated  \
0                              65                  31             62
1                              64                   8             16
2                              39                   6              6
3                              55                  20             20
4                               7                  35             35
...                           ...                 ...            ...
9995                           66                  42             42
9996                           65                  14             28
9997                           57                  16             32
9998                           79                  23             46
9999                          103                   8              8

      created_at
0     2017-03-17
1     2016-11-11
2     2022-02-25
3     2025-04-04
4     2022-11-30
...          ...
9995  2019-02-11
9996  2025-02-18
9997  2019-04-29
9998  2022-08-23
9999  2016-09-28

[10000 rows x 12 columns]>

In [15]:
df = df.drop(columns=['donor_id', 'name', 'email', 'password', 'contact_number', 'city', 'created_at'])

In [16]:
df.isnull().sum()

blood_group                    0
availability                   0
months_since_first_donation    0
number_of_donation             0
pints_donated                  0
dtype: int64

In [18]:
df = df.dropna()

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [20]:
le=LabelEncoder()
df['blood_group'] = le.fit_transform(df['blood_group'])

In [21]:
X = df.drop(columns=['availability'])
y = df['availability']

In [22]:
scaler=StandardScaler()
X_scaled= scaler.fit_transform(X)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [24]:
print("Shape of training Set:", X_train.shape)
print("Shape of testing Set:", X_test.shape)

Shape of training Set: (8000, 4)
Shape of testing Set: (2000, 4)